version: "3.3"
services:
  proxy:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./client:/usr/share/nginx/html
    networks:
      - default
    ports:
      - "80:80"

  db:
    image: mariadb:latest
    volumes:
      - app-db-data:/var/lib/mysql
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=root_password

  backend:
    depends_on:
      - db
    env_file:
      - .env
    build:
      context: ./backend
      dockerfile: backend.dockerfile

  frontend:
    build:
      context: ./client

volumes:
  app-db-data:

networks:
  default:
